.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 1rem;
  > a {
    width: 100%;
  }
}

img {
  aspect-ratio: 1 / 1;
  object-fit: scale-down;
  object-position: center center;
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}
